
.footer {
    background-image: linear-gradient(0deg, #020024 0.015%, #87cefa 30%, #ffffff 90%);
    color: #ffffff;
    padding: 6rem 5rem;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

/* Logo Section */
.footer-logo {
    width: 20rem;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* Navigation Links */
.footer-links ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: var(--color-primary);
}


.footer__word{
    text-transform: uppercase;
}

/* Social Media Icons */
.footer-social {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem;
}

.footer-social a img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.footer-social a img:hover {
    transform: scale(1.2);
}
.footer__word{
    text-align: center;
}


/* Divider */
.footer-divider {
    border: none;
    border-top: 1px solid #444;
    width: 100%;
    margin: 2rem 0;
}

/* Copyright */
.footer-copyright {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Tablet Devices */
@media (min-width: 768px) {
    .footer{
        padding: 2rem 15rem;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
    }
    .footer-links ul li a {
        font-size: 2rem;
        margin: 2rem;
        color: var(--color-primary);
    }


    .footer-links ul {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social {
        gap: 2rem;
    }
    .footer__word{
        text-align: left;
        color: var(--color-primary-800);
    }

    .footer-head{
        line-height: 45px;
        text-wrap: wrap;
        font-size: 3.2rem;
    }
}

/* Desktop Devices */
@media (min-width: 1024px) {
    .footer-container {
        padding: 0 6rem;
        display: grid;
        grid-template-areas:
          "header header"
          "menu content";
          /* "footer footer"; */
        grid-template-columns: 1fr 1fr;  

    }

    .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .footer-links ul li a {
        font-size: 2.2rem;
        margin: 2rem;
        color: var(--color-primary);
    }

    .footer-logo .logo {
        width: 30rem;
    }

    .now{
        margin: 2rem 0;
    }

    .footer-head{
        line-height: 45px;
        text-wrap: wrap;
        font-size: 3.5rem;
    }

 

}
